<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Variable table</title>
    <style>
        .selected-row {
            background-color: green;
        }
    </style>
    <script>
        var selectedRows = [];

        const rowClick = (event) => {
            const row = event.target.parentElement;
            if (row.classList.contains("selected-row") ) {
                row.classList.remove("selected-row");
                selectedRows = selectedRows.filter((r) => r.label !== row.children[0].textContent);
            } else {
                row.classList.add("selected-row");
                var rowData = event.target.parentElement.getElementsByTagName("th");
                selectedRows.push(rowData[0].textContent);
                console.log(selectedRows);
            }

            console.log("Selected rows:", selectedRows);
        };

        const submitRows = async (link_back) => {
            if (selectedRows.length === 0 && document.getElementById("variables").innerHTML.length <=2) {
                alert("Please select a row");
            } else {
                // Process selected rows and perform the desired action
                console.log("Processing selected rows...");
                const jsonBody = JSON.stringify({"key": "variables", "data": JSON.stringify(selectedRows)});
                    const response = await fetch("/send-json/", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: jsonBody,
                    });
                    console.log(response);
                    const data = await response.json();
                    window.location.href = link_back;
            }
        };
    </script>
</head>
<body>
    <h1>List of variables</h1>
    <button onclick="submitRows('/')">Return to index page</button>
    <button onclick="submitRows('/variable')">Submit Rows</button>
    <button onclick="submitRows('/geography')">Go to Geography Level</button>
    <div>
        <h2>Selected Dataset</h2>
        {{dataset}}
    </div>
    </div>
    <div>
        <h2>Selected Variables</h2>
        <div id ="variables">

        {{variables|safe}}
        </div>
    </div>
    <div>
        <h2>Selected Geography</h2>
        <div id ="geography">

        {{geography|safe}}
        </div>
    </div>
    <div>
        <h2>Input Geography</h2>
        <form id="fips-form" onsubmit="event.preventDefault(); submitFips();"></form>
    </div>
    <p id="row-count"></p>
    <div id="table-container">
        {{table|safe}}
    </div>
</body>
</html>
